<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CallMutingTitles" value="DVLA WEB-;http://dvla.mysecurepay-beta.co.uk/Home/CardDetails;https://dvla.mysecurepay.co.uk/Home/CardDetails;https://www.e-paycobalt.com;https://border-agile-beta.keyivr.co.uk;https://border-agile.keyivr.com;RingGo;Cobalt Notice;ConnectPay;Warwickshire Direct;Insight - Search;https://insight.myringo.com;Insight - Book a Permit Session;Make a Payment - Civica AuthorityICON;ICON Payment;Insight - Apply for a Suspension or Dispensation;Westminster City Council Parking Portal;PCN Payment System : Stage 2;PCN Payment System : Stage 12;PCN Payment System : Stage 6;PCN Payment System : Stage 7;PCN Payment System : Stage 8;PCN Payment System : Stage 9;Pay without cardholder"/>
    <add key="TennantName" value="marstonnsl01" />
    <add key="ApiKey" value="T/QTekzOivTjxBzYW5UI1i+MM+dBVJxTZY/S3iaAuEMO1zGUPA0mtRNcXSVTCYCXtGUjM/bq4JGyl1QwgV6dKtEzTdBVFQIlm400uNAQEZg=" />
    <add key="ClusterURL" value="https://vcc-eu7.8x8.com" />
    <add key="Debug" value="false" />
    <add key="Manual" value="true" />
    <add key="FlashOnError" value="true" />
    <!--<add key="LogFilePath" value="C:\OSInst\" />-->
    <!--<add key="OverrideEmail" value="8x8.jsfittontx@nsl.co.uk" />-->
    <!--<add key="OverrideUsername" value="mpowley" />-->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>